<div class="delete-project modal overlay active">
    <form style="width: 600px" class="form" (ngSubmit)="submitForm()">
        <h2 class="title">Bạn có muốn xóa dự án này không?</h2> <i class="delete-project overlay-close fal fa-times"></i>
            <div class="delete">
                <button style="background: 0; background-color: #eef3f7 !important" type="button" class="btn delete-project size-s n">Không</button>
                <button type="submit" id="delete-user" class="btn size-s d">Xóa</button>
            </div>
    </form>
</div>