<section class="register-wrapper">
    <div class="container wide">
        <div class="row">
            <a href="/">
                <img src="../../../assets/img/logo.png" alt="LOGO IMAGE">
            </a>
            <form>
                <div class="form-group">
                    <input tabindex="1" type="text" id="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input tabindex="2" type="password" id="password" class="form-control" placeholder="Mật khẩu">
                </div>
                <button class="btn w-100" (click)="onLogin($event)">Đăng nhập</button>
                <p>Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký</a></p>
            </form>
        </div>
    </div>
</section>