<div class="delete-user modal overlay active">
    <form style="width: 600px" class="form">
        <h2 class="title">Bạn có muốn xóa người dùng này không?</h2> <i class="delete-user overlay-close fal fa-times"></i>
            <div class="delete">
                <button style="background: 0; background-color: #eef3f7 !important" type="button" class="btn delete-user size-s n">Không</button>
                <button type="button" id="delete-user" class="btn size-s d" (click)="deleteUser($event)">Xóa</button>
            </div>
    </form>
</div>